@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

* {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}

a {
  text-decoration: none;
  color: orange;
}

h2 {
  color: #000;
  margin: 2rem 0 .5rem;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: uppercase;
}

img {
  display: block;
    border: 0;
    width: 100%;
    height: auto;
}

/***************************           Cards            *******************************/

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* see notes below */
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 1rem;
}

.card {
  /*height: 200px;*/
  /*background: red;*/
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: .5rem;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  /* -webkit-box-orient: vertical; */
  /* -webkit-box-direction: normal; */
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  color: #5d5e5e;
} /* li item */

.thumbnail img {
  fill: #c7c4c4;
  height: 135px;
  opacity: .25;
  padding: 1.5rem;
}

.card-content {
    font-size: .75rem;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.panel.card-panel .panel-header {
    background-color: #ffffff;
    font-size: .75rem;
    font-weight: 400;
    height: 25px !important;
}

.panel.card-panel .panel-content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.category {
  font-size: .75rem;
  text-transform: uppercase;
}

footer {
  border-top: 2px solid #e7e7e7;
  margin: .5rem 0 0;
  min-height: 30px;
  font-size: .5rem;
}

.category {
    position: absolute;
    top: 110px;
    left: 0;
    color: #fff;
    background: #e74c3c;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.category__01 {
  background-color: #751e41;
}

.category__02 {
  background-color: #faa141;
}

.category__03 {
  background-color: #51bb7b;
}

.category__04 {
  background-color: #220875;
}

.category__05 {
  background-color: #5d5e5e;
}

.post-meta {
  margin-top: .5rem;
}

.comments {
  margin-left: .5rem;
}


.hero {
  /* Photo by mnm.all on Unsplash */
  background: url('images/banner.png') left; 
  /* background-size: 10%; */
  background-size: cover; 
  background-repeat: no-repeat;
  padding: 1rem 2rem;

  /* Grid styles */
  /*display: grid;*/
  align-items: left;
  /*grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));*/
}
